* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

figure {
	position: relative;
}

.wrapper {
	position: relative;
	width: 1080px;
	margin: 0 auto;
	text-align: center;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.fontGill {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
}

.fontHelvetica {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.callToAction {
	padding: 10px 0 0 0;
}

.callToAction p{
	position: absolute;
	top: 20px;
	left: 70px;
}

.sectionTitle {
	width: 700px;
	border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 30px;
}

.sectionTitle h2 {
	text-transform: capitalize;
	font-size: 48px;
	font-weight: lighter;
}

.sectionTitle p {
	font-size: 24px;
	padding: 0 65px;
}

.twoColumn {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 675px;
	text-align: center;
}

.twoColumn h1 {
	font-size: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
}


.twoColumn p {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 30px;
}

.threeColumn {
	position: relative;
	display: block;
	width: 100%;
}

.threeColumn figure {
	text-align: left;
	float: left;
	margin: 0;
	width: 32%;
}

.middleColumn {
	margin: 0 2% !important;
}


/*
utilities
====================================
*/

.arrow-lg {
	width: 400px;
	height: 50px;
	background-color: #ffcd0f;
	position: relative;
	margin: 0 auto;
}

.arrow-lg:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent #f3614c;
}

.arrow-lg:after {
	content: "";
	position: absolute;
	right: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent #ffcd0f;
}

.arrow-prove {
	width: 140px;
	height: 50px;
	background-color: #ffcd0f;
	position: relative;
	margin: 0 auto;
}

.arrow-prove:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent #9ccbaa;
}

.arrow-prove:after {
	content: "";
	position: absolute;
	right: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent #ffcd0f;
}

.arrow-sm {
	width: 140px;
	height: 50px;
	background-color: #ffcd0f;
	position: relative;
	margin: 0 auto;
}

.arrow-sm:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent #fff;
}

.arrow-sm:after {
	content: "";
	position: absolute;
	right: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent #ffcd0f;
}
/*
text utilities
*/

.txt-color0 {
	color: #000 !important; /*black*/
}

.txt-color1 {
	color: #fff; /*white*/
}

.txt-color2 {
	color: #004a59; /*dark blue*/
}

.txt-color3 {
	color: #3694a7; /*light blue*/
}

.txt-color4 {
	color: #7a7575; /*gray*/
}

.txt-color5 {
	color: #ff6146; /*red-orange*/
}

.txt-color6 {
	color: #469cae; /* light blue*/
}

.txt-color7 {
	color: #998e88;
}

.txt-color8 {
	color: #827873;
}

.txt-color-active {
	color: #f3614c; /*pink*/
}

.bold {
	font-weight: bold;
}

/*
bg colors
*/

.main-color {
	background-color: #f3614c;
}

.accent-color {
	background-color: #202020;
}

.txt-section-title {
	color: #80726b; /*brown gray*/
}

/*
header
======================================
*/

header {
	position: relative;
	height: 355px;
}

.porky {
	position: relative;
	margin-bottom: 45px;
	margin-left: 75px;
	margin-right: 130px;
}



ul {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #202020;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: -2px;
	z-index: 999999999;
}

li {
	/*position: relative;*/
	display: inline-block;
	height: 100%;
	width: 145px;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	border-left: 1px dashed #fff;
	padding-top: 18px;
}

ul a {
	position: relative;
	padding: 18px;
}

li:hover a{
	color: #f3614c;
}

li:last-child {
	border-right: 1px dashed #fff;	
}

#topNav {
	/*display: inline;*/
}

.looneyTune {
	position: absolute;
	margin-bottom: -80px;
	top: 2px;
	left: -35px
}

.looneyTune img {

}

.cta1 p {
	left: 145px;
}
/*
work section
=========================================
*/

#work{
	margin-top: 60px;
}

#work figure:hover .zappos {
	background: url(../img/zappos2.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#work figure:hover .del-val {
	background: url(../img/del-val2.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#work figure:hover .monotype {
	background: url(../img/monotype2.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.zappos {
	background-image: url(../img/zappos.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 231px;
}

.del-val {
	background-image: url(../img/del-val.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 231px;
}

.monotype {
	background-image: url(../img/monotype.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 231px;
}

.MTV {
	background-color: #9ccbaa;
	margin-bottom: 30px;
}

.MTV h2 {
	font-size: 48px;
	line-height: 48px;
	margin: 20px;
}

.mtvLogo {
	position: relative;
	margin-bottom: 160px;
}

.MTV p:first-child {
	padding-top: 55px;
	margin-bottom: 0;
}

.smallTitle:before {
	content: "– "
}

.smallTitle:after {
	content: " –"
}

.mtvColumn {
	width: 450px;
	padding: 0;
	margin-left: 185px;
}

.mtvColumn p {
	padding: 0;
	font-size: 18px;
	line-height: 30px;
}

.cta2:hover{
	border: none;
}

.cta2 {
	border: none;
}

.cta2 p{
	top: -35px;
	left: 167px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 20px;
}

.threeclg figure:hover  figcaption{
	border: 1px solid transparent;
	background-color: transparent;
}

.threeclg figcaption{
	background-color: #f9fafa;
	border: 1px solid #e5e7e6;
	width: 97%;
	margin: 0 auto;
}

.threeclg h3 {
	font-size: 20px;
	margin-bottom: 0;
	padding-left: 25px;
}

.threeclg p {
	font-size: 14px;
	padding: 25px 25px 40px 25px;
	line-height: 28px;
	margin: 0;
	
}

.showMore {
	position: relative;
	display: block;
	width: 415px;
	height: 50px;
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 100px;
	padding-top: 15px;
	background-color: #ffce10;
	font-weight: bold;
	font-size: 20px;
	
}


/*
news section
========================================
*/

#news h3 {
	font-size: 24px;
	text-align: left;
}

.summit {
	width: 48%;
	float: left;
	margin: 0;
	margin-right: 35px;
	text-align: left;
}

.summit p {
	font-size: 18px;
	line-height: 28px;

}

.webby {
	float: left;
	width: 48%;
	margin: 1px 0 0 0;
	text-align: left;
}

.webby figcaption {
	margin-bottom: 45px;
}

.threeCsm  {
	 width: 48%;
	 display: inline-block;
}

.cta3 p{
	top: 5px;
	left: 40px;
	font-size: 18px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


/*
blog section 
==============================================
*/

.blogPost h2 {
	text-align: left;
	font-size: 32px;
}
.blogPost p{
	text-align: left;
	font-size: 14px;
	line-height: 28px;
	font-weight: normal;
}

.teachLearn {
	padding-bottom: 110px;
	margin-right: 75px;
	margin-left: -150px;
}

.blogColumn {
	width: 450px;
}

.cta4 {
	margin-left: -300px;
}

.cta4 p{
	top: 20px;
	left: 315px;
	font-size: 18px;
}

.recentArticles h3 {
	font-size: 18px;
	text-align: left;
	text-transform: uppercase;
}

.recentArticles h4 {
	font-size: 24px;
	margin: 25px 0 20px 0;
}

.recentArticles p {
	font-size: 14px;
}


/*
about section
===========================================
*/

.topParagraph {
	width: 335px;
	font-size: 20px !important;
	font-weight: normal !important;
	line-height: 30px !important;
	text-align: left;
	/*float: left;*/
}

#about p {
	width: 335px;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	margin-right: 45px;
}

#about p:nth-child(3) {
	position: absolute;
	top: 205px;
	left: 380px;
}

#about p:nth-child(4) {
	position: absolute;
	top: 460px;
	left: 380px;
}


#about img {
	position: absolute;
	top: 205px;
	right: 0;
}


/*
networks section
========================================
*/

.networkColumn figure {
	margin-top: 30px;
	text-align: center;
	padding: 0 15px;
}

.networkColumn figure:first-child {
	margin-left: 40px;
} 


/*
Contact Section 
==========================================
*/

.getInTouch {
	width: 140px;
	height: 30px;
	padding: 0 5px	;
	background-color: #ffcd0f;
	font-size: 24px;
}

#contact h4 {
	font-size: 22px;
}

#contact figcaption p:nth-child(4) {
	
	text-transform: uppercase;
}

.spacer {
	margin-top: 45px;
}

.mapColumn p {
	font-size: 12px;
	font-weight: 400;
}


/*
footer
=======================================
*/

footer {
	position: relative;
	display: block;
	height: 600px;
	margin-top: 60px;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.social {
	margin-top: 40px;
}

.social p {
	display: inline;
	text-transform: uppercase;
}

.icon-twitter-circled,
.icon-facebook-circled {
	display: inline-block;
	font-size: 18px;
}


form {
	display: inline-block;
	position: relative;
	background-color: #fff;
	height: 130px;
	width: 345px;
	margin-top: 70px;
	margin-left: 40px;
	border-radius: 12px;
	font-style: italic;
	font-size: 24px;
	font-weight: 400;
}

.inputField {
	padding-top: 25px;
}

.footerColumn {
	width: 1080px;
}

input {
	width: 225px;
	height: 40px;
	border-radius: 6px;
	display: inline-block;
	margin-top: 10px;
}

button {
	background-color: #ffcd10;
	height: 40px;
	width: 40px;
	font-size: 24px;
	display: inline-block;
	border: none;
	vertical-align: bottom;
	border-radius: 6px
}

.ctaFooter {
	position: relative;
	display: inline-block;
	margin-top: 95px;
}

.closer h2{
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 0;
}

.closer h3 {
	font-size: 30px;
	font-weight: 400;
	margin-top: 15px;
}

.footerFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	background-color: #202020;
	font-size: 14px;
	text-transform: uppercase;
}

.copyright {
	margin-top: 0;
}

.hosting {
	margin-top: 15px;

}

.hosting p {
	display: inline-block;
	vertical-align: 140%;
}

.big {
	font-size: 36px;
	vertical-align: middle;
}




/*
icon fonts
==========================
*/


@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?38989636');
  src: url('../font/fontello.eot?38989636#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?38989636') format('woff'),
       url('../font/fontello.ttf?38989636') format('truetype'),
       url('../font/fontello.svg?38989636#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?38989636#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter-circled:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */