@font-face {
    font-family: 'colaboratelightregular';
    src: url('../fonts/colablight/colablig-webfont.eot');
    src: url('../fonts/colablight/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colablight/colablig-webfont.woff') format('woff'),
         url('../fonts/colablight/colablig-webfont.ttf') format('truetype'),
         url('../fonts/colablight/colablig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate-mediumregular';
    src: url('../fonts/colabmed/colabmed-webfont.eot');
    src: url('../fonts/colabmed/colabmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabmed/colabmed-webfont.woff') format('woff'),
         url('../fonts/colabmed/colabmed-webfont.ttf') format('truetype'),
         url('../fonts/colabmed/colabmed-webfont.svg#colaborate-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkFive/chunkfive-webfont.eot');
    src: url('../fonts/chunkFive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkFive/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkFive/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkFive/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alexandriaflfregular';
    src: url('../fonts/alexandriaflf/alexandriaflf-webfont.eot');
    src: url('../fonts/alexandriaflf/alexandriaflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexandriaflf/alexandriaflf-webfont.woff') format('woff'),
         url('../fonts/alexandriaflf/alexandriaflf-webfont.ttf') format('truetype'),
         url('../fonts/alexandriaflf/alexandriaflf-webfont.svg#alexandriaflfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alexandriaflfbold';
    src: url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.eot');
    src: url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.woff') format('woff'),
         url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.ttf') format('truetype'),
         url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.svg#alexandriaflfbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

/*
font styles
*/

.font-1 {
	font-family: colaboratelightregular;
}

.font-2 {
	font-family: 'colaborate-mediumregular';
}

.font-3 {
	font-family: 'chunkfiveroman';
}

.font-4 {
	font-family: 'alexandriaflfregular';
}

.font-5 {
	 font-family: 'alexandriaflfbold';
}

/*
font colors
*/

.font-color-0 {
	color: #fff;
}

.font-color-1 {
	color: #d7d7e3;
}

.font-color-2 {
	color: #e7e8ea;
}

.primary-bgc {
	background-color: #1b1b2d;
}

.secondary-bgc {
	background-color: #e7e8ea;
}

header {
	padding: 0;
}

/*
navigation section
===============================================
*/
h1 {
	display: inline-block;
	margin: 0;
	padding-top: 35px;
	padding-left: 10px;
	vertical-align: bottom;
}

ul {
	display: inline-block;
	padding-left: 110px;
	margin-top: 0;
}

li {
	display: inline-block;
	padding: 8px 7px;
}

li a {
	padding: 8px 10px;
}

li a:hover {
	color: #1b1b2d;
	background-color: #d7d7e3;
	border-radius: 6px;
}


/*
hero image section 
===================================================
*/

.hero {
	padding-top: 70px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #1B1B2D),
	color-stop(1, #D4D5D8)
	);
	background-image: -o-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: -moz-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: -webkit-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: -ms-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: linear-gradient(to bottom, #1B1B2D 25%, #D4D5D8 100%);
}

.left-arrow {
	position: relative;
	display: inline-block;
	background-color: rgba(49, 49, 65, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-bottom: 85px;
	margin-left: -20px;
}

.left-arrow:after {
	content: "◀";
	position: absolute;
	top: 6px;
	left: 8px;
	font-size: 20px;
	color: #f8f8f8;
}

.right-arrow {
	position: relative;
	display: inline-block;
	background-color: rgba(49, 49, 65, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-bottom: 85px;
	margin-left: 20px;
}

.right-arrow:after {
	content: "▶";
	position: absolute;
	top: 10px;
	right: 8px;
	font-size: 20px;
	color: #f8f8f8;
}

.left-col {
	position: relative;
	display: inline-block;
	width: 30%;
	margin-right: 3.5%;
	text-align: right;
}

.left-col h2 {
	font-size: 45px;
	line-height: 52px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.left-col h3 {
	font-size: 39px;
	line-height: 52px;
	margin: 0;
}

.left-col p {
	display: inline-block;
	font-size: 23px;
	width: 170px;
}

.read-btn {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 45px;
	padding-top: 8px;
	border: 1px solid #6e9ad8;
	border-radius: 6px;
	font-size: 23px;
	text-align: center;

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.5, #2D6BC2),
	color-stop(1, #174284)
	);
	background-image: -o-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: -moz-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: -webkit-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: -ms-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: linear-gradient(to bottom, #2D6BC2 50%, #174284 100%);
}
	
.read-btn:before {
  content:'';
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 180px;
  height: 10px;
  background: transparent; /*Without a color, the box shadows fails*/
  border-radius: 100px / 5px; 
  box-shadow: 0 30px 5px #888892;  
}

.ipadImg {
	position: relative;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}

.ipadImg img:last-child {
	margin-top: -30px;
}

.second {
	background-image: -webkit-gradient(
	linear,
	right top,
	right bottom,
	color-stop(0.25, #D4D5D9),
	color-stop(1, #E7E8EA)
	);
	background-image: -o-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: -moz-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: -webkit-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: -ms-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: linear-gradient(to bottom, #D4D5D9 25%, #E7E8EA 100%);
}









