@font-face {
    font-family: 'colaboratelightregular';
    src: url('../fonts/colablight/colablig-webfont.eot');
    src: url('../fonts/colablight/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colablight/colablig-webfont.woff') format('woff'),
         url('../fonts/colablight/colablig-webfont.ttf') format('truetype'),
         url('../fonts/colablight/colablig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate-mediumregular';
    src: url('../fonts/colabmed/colabmed-webfont.eot');
    src: url('../fonts/colabmed/colabmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabmed/colabmed-webfont.woff') format('woff'),
         url('../fonts/colabmed/colabmed-webfont.ttf') format('truetype'),
         url('../fonts/colabmed/colabmed-webfont.svg#colaborate-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkFive/chunkfive-webfont.eot');
    src: url('../fonts/chunkFive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkFive/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkFive/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkFive/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alexandriaflfregular';
    src: url('../fonts/alexandriaflf/alexandriaflf-webfont.eot');
    src: url('../fonts/alexandriaflf/alexandriaflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexandriaflf/alexandriaflf-webfont.woff') format('woff'),
         url('../fonts/alexandriaflf/alexandriaflf-webfont.ttf') format('truetype'),
         url('../fonts/alexandriaflf/alexandriaflf-webfont.svg#alexandriaflfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alexandriaflfbold';
    src: url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.eot');
    src: url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.woff') format('woff'),
         url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.ttf') format('truetype'),
         url('../fonts/alexandriaflf/alexandriaflf-bold-webfont.svg#alexandriaflfbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'contraregular';
    src: url('../fonts/contra/contra__-webfont.eot');
    src: url('../fonts/contra/contra__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contra/contra__-webfont.woff') format('woff'),
         url('../fonts/contra/contra__-webfont.ttf') format('truetype'),
         url('../fonts/contra/contra__-webfont.svg#contraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate-regularregular';
    src: url('../fonts/colabreg/colabreg-webfont.eot');
    src: url('../fonts/colabreg/colabreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabreg/colabreg-webfont.woff') format('woff'),
         url('../fonts/colabreg/colabreg-webfont.ttf') format('truetype'),
         url('../fonts/colabreg/colabreg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'contraitalic';
    src: url('../fonts/contra-italic/contrai_-webfont.eot');
    src: url('../fonts/contra-italic/contrai_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contra-italic/contrai_-webfont.woff') format('woff'),
         url('../fonts/contra-italic/contrai_-webfont.ttf') format('truetype'),
         url('../fonts/contra-italic/contrai_-webfont.svg#contraitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

.sheen {
	position: absolute;
	top: 200px;
	left: 245px;
	/*opacity: 0;*/
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.wrapper {
	width: 1000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

/*
font styles
*/

.font-1 {
	font-family: colaboratelightregular;
}

.font-2 {
	font-family: 'colaborate-mediumregular';
}

.font-3 {
	font-family: 'chunkfiveroman';
}

.font-4 {
	font-family: 'alexandriaflfregular';
}

.font-5 {
	 font-family: 'alexandriaflfbold';
}

.font-6 {
	font-family: 'contraregular';
}

.font-7 {
	font-family: 'colaborate-regularregular';
}

.font-8 {
	font-family: 'contraitalic';
}

/*
font colors
*/

.font-color-0 {
	color: #fff; /*white*/
}

.font-color-1 {
	color: #d7d7e3; /*purple-gray*/
}

.font-color-2 {
	color: #e7e8ea; /*light-gray*/
}

.font-color-3 {
	color: #505050; /*brown-gray*/
}

.font-color-4 {
	color: #5f7390; /*blue-gray*/
}

.font-color-5 {
	color: #828181; /*another gray*/
}

.font-color-6 {
	color: #d3d4d5; 
}

.primary-bgc {
	background-color: #1b1b2d; /*header*/
}

.secondary-bgc {
	background-color: #e7e8ea; /*gray*/
}

.btn {
	position: relative;
	display: inline-block;
	border: 1px solid #6e9ad8;
	border-radius: 6px;
	text-align: center;

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.5, #2D6BC2),
	color-stop(1, #174284)
	);
	background-image: -o-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: -moz-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: -webkit-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: -ms-linear-gradient(bottom, #2D6BC2 50%, #174284 100%);
	background-image: linear-gradient(to bottom, #2D6BC2 50%, #174284 100%);
}

a:hover .btn{
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, #2D6BC2),
	color-stop(0.5, #174284)
	);
	background-image: -o-linear-gradient(bottom, #2D6BC2 100%, #174284 50%);
	background-image: -moz-linear-gradient(bottom, #2D6BC2 100%, #174284 50%);
	background-image: -webkit-linear-gradient(bottom, #2D6BC2 100%, #174284 50%);
	background-image: -ms-linear-gradient(bottom, #2D6BC2 100%, #174284 50%);
	background-image: linear-gradient(to bottom, #2D6BC2 100%, #174284 50%);}



/*
navigation section
===============================================
*/

header {
	padding: 0;
}

h1 {
	display: inline-block;
	margin: 0;
	padding-top: 35px;
	padding-left: 10px;
	vertical-align: bottom;
}

nav ul {
	display: inline-block;
	padding-left: 110px;
	margin-top: 0;
}

nav li {
	display: inline-block;
	padding: 8px 7px;
}

nav li a {
	padding: 8px 10px;
}

nav li a:hover {
	color: #1b1b2d;
	background-color: #d7d7e3;
	border-radius: 6px;
}


/*
hero image section 
===================================================
*/

.hero {
	padding-top: 70px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.25, #1B1B2D),
	color-stop(1, #D4D5D8)
	);
	background-image: -o-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: -moz-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: -webkit-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: -ms-linear-gradient(bottom, #1B1B2D 25%, #D4D5D8 100%);
	background-image: linear-gradient(to bottom, #1B1B2D 25%, #D4D5D8 100%);
}

.left-arrow {
	position: relative;
	display: inline-block;
	background-color: rgba(49, 49, 65, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-bottom: 85px;
	margin-left: -20px;
}

.left-arrow:after {
	content: "◀";
	position: absolute;
	top: 6px;
	left: 8px;
	font-size: 20px;
	color: #f8f8f8;
}

.right-arrow {
	position: relative;
	display: inline-block;
	background-color: rgba(49, 49, 65, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-bottom: 85px;
	margin-left: 110px;
}

.right-arrow:after {
	content: "▶";
	position: absolute;
	top: 10px;
	right: 8px;
	font-size: 20px;
	color: #f8f8f8;
}

.left-col {
	position: relative;
	display: inline-block;
	width: 30%;
	margin-right: 3.5%;
	text-align: right;
}

.left-col h2 {
	font-size: 45px;
	line-height: 52px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.left-col h3 {
	font-size: 39px;
	line-height: 52px;
	margin: 0;
}

.left-col p {
	display: inline-block;
	font-size: 23px;
	width: 170px;
}



.read-btn {
	width: 180px;
	height: 45px;
	padding-top: 8px;
	font-size: 23px;
}
	
.read-btn:before {
  content:'';
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 180px;
  height: 10px;
  background: transparent; /*Without a color, the box shadows fails*/
  border-radius: 100px / 5px; 
  box-shadow: 0 30px 5px #888892;  
}

.ipadImg {
	position: relative;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}

.ipadImg img:last-child {
	margin-top: -30px;
}

/*
second section
===================================
*/

.second {
	padding-bottom: 45px;

	background-image: -webkit-gradient(
	linear,
	right top,
	right bottom,
	color-stop(0.25, #D4D5D9),
	color-stop(1, #E7E8EA)
	);
	background-image: -o-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: -moz-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: -webkit-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: -ms-linear-gradient(bottom, #D4D5D9 25%, #E7E8EA 100%);
	background-image: linear-gradient(to bottom, #D4D5D9 25%, #E7E8EA 100%);
}

.apps {
	padding: 0;
}

figure {
	width: 31%;
	display: inline-block;
	margin: 0;
	margin-right: 1.5%;
}

figure h2 {
	display: inline-block;
}

figure p:nth-child(3) {
	font-size: 15px;
	margin-top: -20px;
	margin-left: 40px;
}

figcaption p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 19px;
}

.second figure:first-of-type {
	margin-left: 1.5%;
}

.icon-help-circled,
.icon-globe,
.icon-wrench {
	height: 35px;
	width: 35px;
	font-size: 25px;
	color: #fff;
	border-radius: 6px;
	padding-top: 3px;
	display: inline-block;
	vertical-align: -33%;

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #767676),
	color-stop(0.5, #B6B6B6)
	);
	background-image: -o-linear-gradient(top, #767676 0%, #B6B6B6 50%);
	background-image: -moz-linear-gradient(top, #767676 0%, #B6B6B6 50%);
	background-image: -webkit-linear-gradient(top, #767676 0%, #B6B6B6 50%);
	background-image: -ms-linear-gradient(top, #767676 0%, #B6B6B6 50%);
	background-image: linear-gradient(to top, #767676 0%, #B6B6B6 50%);
}

.second-slider {
	position: relative;
	width: 67.5%;
	margin-top: 40px;
	text-align: center;
	border-top: 1px solid #dcddde;
	border-bottom: 1px solid #dcddde;
	
	background: #e7e8ea; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #e7e8ea 0%, #eaebed 50%, #eaebed 51%, #e7e8ea 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e7e8ea), color-stop(50%,#eaebed), color-stop(51%,#eaebed), color-stop(100%,#e7e8ea)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #e7e8ea 0%,#eaebed 50%,#eaebed 51%,#e7e8ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #e7e8ea 0%,#eaebed 50%,#eaebed 51%,#e7e8ea 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #e7e8ea 0%,#eaebed 50%,#eaebed 51%,#e7e8ea 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #e7e8ea 0%,#eaebed 50%,#eaebed 51%,#e7e8ea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e8ea', endColorstr='#e7e8ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.second-slider p {
	display: inline-block;
	width: 57%;
	margin: 0 auto;
	font-size: 16px;
	line-height: 25px;
	vertical-align: middle;
	padding: 20px 0;
}

.second-left-arrow:after {
	content: "➤";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.second-left-arrow {
	display: inline-block;
	margin-right: 40px;

	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.second-right-arrow:after {
	content: "➤";

}

.second-right-arrow {
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 40px;
}

.second-right-arrow,
.second-left-arrow {
	font-size: 20px;
}

/*
third section
=========================================
*/

.third {
	text-align: center;
	padding-bottom: 35px;
	margin-top: -27px;
}

.third-title {
	width: 42%;
}
.third-title h3 {
	font-size: 27px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.third-title p{
	font-size: 15px;
	margin-top: 0;
	margin-left: 45px;
	padding-top: 0;
	text-align: left;
}

.third img {
	display: inline-block;
	vertical-align: top;
}

.third ul {
	display: inline-block;
	text-align: left;
}

.third li {
	list-style-type: none;
	font-size: 15px;
	text-align: left;
	line-height: 30px;
}

.first-list li:before {
	content: '▶';
	font-size: 6px;
	padding: 5px;
	color: #828181;
	background-color: #e3e2e2;
	border: 1px solid #d1d1d2;
	border-radius: 50%;
	margin-right: 10px;
}

.third-buttons {
	display: inline-block;
	margin-top: 30px;
	margin-left: 25px;
	font-size: 19px;
}

.third-buttons div {
	padding: 10px 25px;
	margin-right: 25px;
}

.second-list {
	margin-left: -60px;
	padding-left: 0;
}

.second-list li {
	border-top: 1px solid #d7d8da;
}

.second-list li:last-child {
	border-bottom: 1px solid #d7d8da;
}

.second-list li:before {
	content: '+';
	font-size: 12px;
	padding: 1px 4px;
	color: #828181;
	background-color: #e3e2e2;
	border: 1px solid #d1d1d2;
	border-radius: 50%;
	margin-right: 10px;
}

footer {
	background: rgba(84,84,106,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(84,84,106,1) 50%, rgba(54,54,71,1) 99%, rgba(54,54,71,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(50%, rgba(84,84,106,1)), color-stop(99%, rgba(54,54,71,1)), color-stop(100%, rgba(54,54,71,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(84,84,106,1) 50%, rgba(54,54,71,1) 99%, rgba(54,54,71,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(84,84,106,1) 50%, rgba(54,54,71,1) 99%, rgba(54,54,71,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(84,84,106,1) 50%, rgba(54,54,71,1) 99%, rgba(54,54,71,1) 100%);
background: radial-gradient(ellipse at center, rgba(84,84,106,1) 50%, rgba(54,54,71,1) 99%, rgba(54,54,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54546a', endColorstr='#363647', GradientType=1 );
}

.twitter {
	position: relative;
	border-bottom: 1px solid #59596c;
}

.twitter div {
	display: inline-block;
	margin-left: 75px;
	vertical-align: middle;
}

.twitter p {
	display: inline-block;
	width: 80%;
	margin-bottom: 0;
	padding-left: 40px;
	font-size: 13px;
	margin-bottom: 0;
}

.twitter p:nth-of-type(2) {
	position: absolute;
	top: 45px;
	right: 25px;
	font-size: 15px;
	text-align: right;
	margin-top: 0;
}

.icon-twitter-bird {
	height: 65px;
	width: 65px;
	font-size: 45px;
	color: #353546;
	padding-top: 5px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}

.column {
	width: 50%;
	float: left;
}

.column h3 {
	font-size: 25px;
}

input[type="submit"] {
	padding: 5px 16px;
	color: #363648;
	border: none;
	border-radius: 6px;
	font-size: 14px;
	vertical-align: middle;
}

input[type="email"] {
	text-align: center;
	height: 25px;
	width: 215px;
	margin-right: 15px;
	background-color: #242439;
	border: none;
	border-radius: 6px;
	-webkit-box-shadow: inset -1px 2px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    inset -1px 2px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         inset -1px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

input[type="text"] {
	text-align: center;
	height: 25px;
	width: 215px;
	margin-top: 10px;
	background-color: #242439;
	border: none;
	border-radius: 6px;
	-webkit-box-shadow: inset -1px 2px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    inset -1px 2px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         inset -1px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.bigger input[type="text"] {
	height: 95px;
	margin-bottom: 15px;
}

.right input[type="submit"]{
	float: right;
	margin-right: 35px;
}

::-webkit-input-placeholder {
   color: #d7d7e3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d7d7e3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d7d7e3; 
}

:-ms-input-placeholder {  
   color: #d7d7e3;  
}

.social {
	margin-top: 20px;
}



.left p {
	width: 345px;
	margin-bottom: 20px;
}

.social>a>.icon-twitter-bird,
.icon-facebook,
.icon-linkedin {
	height: 40px;
	width: 40px;
	font-size: 25px;
	color: #6d6d84;
	background-color: #464659;
	border: none;
	border-radius: 50%;
	padding-left: 3px;
	display: inline-block;
}



.icon-facebook,
.icon-linkedin {
	padding-top: 5px;
	margin-left: 15px;
}

.copyright {
	font-size: 14px;
	text-align: center;
	display: block;
	width: 100%;
	position: relative;
}


/*
font icons 
====================================
*/

@font-face {
  font-family: 'dublin-apps-1';
  src: url('../fonts/font-icons-1/font/dublin-apps-1.eot?50975977');
  src: url('../fonts/font-icons-1/font/dublin-apps-1.eot?50975977#iefix') format('embedded-opentype'),
       url('../fonts/font-icons-1/font/dublin-apps-1.woff?50975977') format('woff'),
       url('../fonts/font-icons-1/font/dublin-apps-1.ttf?50975977') format('truetype'),
       url('../fonts/font-icons-1/font/dublin-apps-1.svg?50975977#dublin-apps-1') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dublin-apps-1';
    src: url('../font/dublin-apps-1.svg?50975977#dublin-apps-1') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dublin-apps-1";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */


@font-face {
  font-family: 'dublin-apps-twitter';
  src: url('../fonts/font-icons-twitter/font/dublin-apps-twitter.eot?37172538');
  src: url('../fonts/font-icons-twitter/font/dublin-apps-twitter.eot?37172538#iefix') format('embedded-opentype'),
       url('../fonts/font-icons-twitter/font/dublin-apps-twitter.woff?37172538') format('woff'),
       url('../fonts/font-icons-twitter/font/dublin-apps-twitter.ttf?37172538') format('truetype'),
       url('../fonts/font-icons-twitter/font/dublin-apps-twitter.svg?37172538#dublin-apps-twitter') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dublin-apps-twitter';
    src: url('../font/dublin-apps-twitter.svg?37172538#dublin-apps-twitter') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dublin-apps-twitter";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter-bird:before { content: '\e800'; } /* '' */


@font-face {
  font-family: 'dublin-apps-social';
  src: url('../fonts/font-icons-social/font/dublin-apps-social.eot?81601085');
  src: url('../fonts/font-icons-social/font/dublin-apps-social.eot?81601085#iefix') format('embedded-opentype'),
       url('../fonts/font-icons-social/font/dublin-apps-social.woff?81601085') format('woff'),
       url('../fonts/font-icons-social/font/dublin-apps-social.ttf?81601085') format('truetype'),
       url('../fonts/font-icons-social/font/dublin-apps-social.svg?81601085#dublin-apps-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dublin-apps-social';
    src: url('../font/dublin-apps-social.svg?81601085#dublin-apps-social') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dublin-apps-social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-twitter-bird:before { content: '\e802'; } /* '' */
