/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "normalize";

//fonts

@include font-face("colaboratelightregular", 
	font-files("colablight/colablig-webfont.woff", "colablight/colablig-webfont.ttf", "colablight/colablig-webfont.svg"), "colablight/colablig-webfont.eot");
@include font-face("colaborate-mediumregular", 
	font-files("colabmed/colabmed-webfont.woff", "colabmed/colabmed-webfont.ttf", "colabmed/colabmed-webfont.svg"), "colabmed/colabmed-webfont.eot");
@include font-face("colaborate-regularregular", 
	font-files("colabreg/colabreg-webfont.woff", "colabreg/colabreg-webfont.ttf", "colabreg/colabreg-webfont.svg"), "colabreg/colabreg-webfont.eot");
@include font-face("chunkfiveroman", 
	font-files("chunkFive/chunkfive-webfont.woff", "chunkFive/chunkfive-webfont.ttf", "chunkFive/chunkfive-webfont.svg"), "chunkFive/chunkfive-webfont.eot");
@include font-face("alexandriaflfregular", 
	font-files("alexandriaflf/alexandriaflf-webfont.woff", "alexandriaflf/alexandriaflf-webfont.ttf", "alexandriaflf/alexandriaflf-webfont.svg"), "alexandriaflf/alexandriaflf-webfont.eot");
@include font-face("alexandriaflfbold", 
	font-files("alexandriaflf/alexandriaflf-bold-webfont.woff", "alexandriaflf/alexandriaflf-bold-webfont.ttf", "alexandriaflf/alexandriaflf-bold-webfont.svg"), "alexandriaflf/alexandriaflf-bold-webfont.eot");
@include font-face("contraregular", 
	font-files("contra/contra__-webfont.woff", "contra/contra__-webfont.ttf", "contra/contra__-webfont.svg"), "contra/contra__-webfont.eot");
@include font-face("contraitalic", 
	font-files("contra-italic/contrai_-webfont.woff", "contra-italic/contrai_-webfont.ttf", "contra-italic/contrai_-webfont.svg"), "contra-italic/contrai_-webfont.eot");


//variables

	//font families
$font-family-1: colaboratelightregular;
$font-family-2: colaborate-mediumregular;
$font-family-3: colaborate-regularregular;
$font-family-4: chunkfiveroman;
$font-family-5: alexandriaflfregular;
$font-family-6: alexandriaflfbold;
$font-family-7: contraregular;
$font-family-8: contraitalic;

	//font colors
$font-color-0: #fff;	//white
$font-color-1: #d7d7e3;	// shades of gray
$font-color-2: #e7e8ea;	// shades of gray
$font-color-3: #505050;	// shades of gray
$font-color-4: #5f7390;	// shades of gray
$font-color-5: #828181;	// shades of gray
$font-color-6: #d3d4d5;	

	//background colors 
$primary-bgc: #1b1b2d; //header
$secondary-bgc: #e7e8ea; //gray
	


//js classes
.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

.sheen {
	position: absolute;
	top: 200px;
	left: 245px;
	/*opacity: 0;*/
}

//global code
* {
	@include box-sizing(border-box);
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

figure {
	width: 31%;
	display: inline-block;
	margin: 0;
	margin-right: 1.5%;
	h2 {
		display: inline-block;
		font-family: $font-family-1;
		color: $font-color-3;
	}
	p:nth-child(3) {
		font-size: 15px;
		margin-top: -20px;
		margin-left: 40px;
		font-family: $font-family-1;
		color: $font-color-4;
	}
}

figcaption p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 19px;
	font-family: $font-family-1;
	color: $font-color-3;
}


//utilities & reused classes

@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include has-layout;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	@include pie-clearfix;
}



.btn {
	position: relative;
	display: inline-block;
	border: 1px solid #6e9ad8;
	border-radius: 6px;
	text-align: center;

	background-color: #2d6bc2;
	@include filter-gradient(#2d6bc2, #174284, vertical);
	@include background-image(linear-gradient(top, #2d6bc2 50%,#174284 100%));
}

a:hover .btn{
	background-color: #174284;
	@include filter-gradient(#174284, #2d6bc2, vertical);
	@include background-image(linear-gradient(top, #174284 0%,#2d6bc2 50%));

}

//nav section 

header {
	//padding: 0;
	background-color: $primary-bgc;
}

h1 {
	display: inline-block;
	margin: 0;
	padding-top: 35px;
	padding-left: 10px;
	vertical-align: bottom;
}

nav {
	ul {
		display: inline-block;
		padding-left: 110px;
		margin-top: 0;
		font-family: $font-family-1;
	}
	li {
		display: inline-block;
		padding: 8px 7px;
	}
	a {
		padding: 8px 10px;
		color: $font-color-1;
		&:hover {
			color: #1b1b2d;
			background-color: #d7d7e3;
			border-radius: 6px;
		}
	}
}

//hero image

.hero {
	padding-top: 70px;
	background-color: #1b1b2d;
	@include filter-gradient(#1b1b2d, #d4d5d8, vertical);
	@include background-image(linear-gradient(top,  #1b1b2d 25%,#d4d5d8 100%));

}

.left-arrow {
	position: relative;
	display: inline-block;
	background-color: rgba(49, 49, 65, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-bottom: 85px;
	margin-left: -20px;
	&:after {
		content: "◀";
		position: absolute;
		top: 6px;
		left: 8px;
		font-size: 20px;
		color: #f8f8f8;
	}
}

.right-arrow {
	position: relative;
	display: inline-block;
	background-color: rgba(49, 49, 65, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-bottom: 85px;
	margin-left: 110px;
	&:after {
		content: "▶";
		position: absolute;
		top: 10px;
		right: 8px;
		font-size: 20px;
		color: #f8f8f8;
	}
}

.left-col {
	position: relative;
	display: inline-block;
	width: 30%;
	margin-right: 3.5%;
	text-align: right;
	h2 {
		font-size: 45px;
		line-height: 52px;
		text-transform: uppercase;
		margin-bottom: 5px;
		font-family: $font-family-3;
		color: $font-color-2;
	}
	h3 {
		font-size: 39px;
		line-height: 52px;
		margin: 0;
		font-family: $font-family-5;
		color: $font-color-0;
		font-weight: 100;
		span {
			font-family: $font-family-6;
		}
	}
	p {
		display: inline-block;
		font-size: 23px;
		width: 170px;
		font-family: $font-family-1;
		color: $font-color-2;
	} 
	a {
		font-family: $font-family-2;
		color: $font-color-0
	}
	
}

.read-btn {
	width: 180px;
	height: 45px;
	padding-top: 8px;
	font-size: 23px;
	&:before {
		content:'';
		position: absolute;
		bottom: -10px;
		left: 5px;
		width: 180px;
		height: 10px;
		background: transparent; /*Without a color, the box shadows fails*/
		border-radius: 100px / 5px; 
		box-shadow: 0 30px 5px #888892;  
	}
}

.ipadImg {
	position: relative;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	img:last-child {
		margin-top: -30px;
	}
}
 

// second section

.second {
	padding-bottom: 45px;
	background-color: #d4d5d9;
	@include filter-gradient(#d4d5d9, #e7e8ea, vertical);
	@include background-image(linear-gradient(top,  #d4d5d9 25%,#e7e8ea 100%));

	figure:first-of-type {
		margin-left: 1.5%;
	}
}

.apps {
	padding: 0;
}

.icon-help-circled,
.icon-globe,
.icon-wrench {
	height: 35px;
	width: 35px;
	font-size: 25px;
	color: #fff;
	border-radius: 6px;
	padding-top: 3px;
	display: inline-block;
	vertical-align: -33%;

	background-color: #767676;
	@include filter-gradient(#767676, #b6b6b6, vertical);
	@include background-image(linear-gradient(top,  #767676 0%,#b6b6b6 50%));

}

.second-slider {
	position: relative;
	width: 67.5%;
	margin-top: 40px;
	text-align: center;
	border-top: 1px solid #dcddde;
	border-bottom: 1px solid #dcddde;
	
	background-color: #e7e8ea;
	@include filter-gradient(#e7e8ea, #e7e8ea, horizontal);
	@include background-image(radial-gradient(center, ellipse cover,  #e7e8ea 0%,#e7e8ea 100%));


	p {
		display: inline-block;
		width: 57%;
		margin: 0 auto;
		font-size: 16px;
		line-height: 25px;
		vertical-align: middle;
		padding: 20px 0;
		font-family: $font-family-6;
		color: $font-color-5;
	}
	a {
		color: $font-color-4;
	}
}

.second-left-arrow {
	display: inline-block;
	margin-right: 40px;

	 @include rotate(180deg);
	color: $font-color-6;
	&:after {
		content: "➤";
		 @include rotate(180deg);
	}
}

.second-right-arrow {
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 40px;
	color: $font-color-6;
	&:after {
		content: "➤";

	}
}

.second-right-arrow,
.second-left-arrow {
	font-size: 20px;
}


//third section 

.third {
	text-align: center;
	padding-bottom: 35px;
	margin-top: -27px;
	background-color: $secondary-bgc;
	img {
		display: inline-block;
		vertical-align: top;
	}
	ul {
		display: inline-block;
		text-align: left;
		font-family: $font-family-1;
		color: $font-color-5;
	}
	li {
		list-style-type: none;
		font-size: 15px;
		text-align: left;
		line-height: 30px;
	}
}

.third-title {
	width: 42%;
	h3 {
		font-size: 27px;
		margin-bottom: 0;
		padding-bottom: 0;
		font-family: $font-family-1;
		color: $font-color-3;
	}
	p{
		font-size: 15px;
		margin-top: 0;
		margin-left: 45px;
		padding-top: 0;
		text-align: left;
		font-family: $font-family-1;
		color: $font-color-4;
	}
	
}


.first-list li:before {
	content: '▶';
	font-size: 6px;
	padding: 5px;
	color: #828181;
	background-color: #e3e2e2;
	border: 1px solid #d1d1d2;
	border-radius: 50%;
	margin-right: 10px;
}

.third-buttons {
	display: inline-block;
	margin-top: 30px;
	margin-left: 25px;
	font-size: 19px;
	div {
		padding: 10px 25px;
		margin-right: 25px;
		font-family: $font-family-7;
		color: $font-color-0;
	}

}


.second-list {
	margin-left: -60px;
	padding-left: 0;
	li {
		border-top: 1px solid #d7d8da;
		&:last-child {
			border-bottom: 1px solid #d7d8da;
		}
		&:before {
			content: '+';
			font-size: 12px;
			padding: 1px 4px;
			color: #828181;
			background-color: #e3e2e2;
			border: 1px solid #d1d1d2;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

//footer

footer {
	background-color: #54546a;
	@include filter-gradient(#54546a, #363647, horizontal);
	@include background-image(radial-gradient(center, ellipse cover,  #54546a 0%,#363647 100%));
}

.twitter {
	position: relative;
	border-bottom: 1px solid #59596c;
	padding-top: 15px;
	div {
		display: inline-block;
		margin-left: 75px;
		vertical-align: middle;
	}
	p {
		display: inline-block;
		width: 80%;
		margin-bottom: 0;
		padding-left: 40px;
		font-size: 13px;
		margin-bottom: 0;
		font-family: $font-family-6;
		color: $font-color-0;
		&:nth-of-type(2) {
			position: absolute;
			top: 45px;
			right: 25px;
			font-size: 15px;
			text-align: right;
			margin-top: 0;
			font-family: $font-family-8;
		}
	}
}

.icon-twitter-bird {
	height: 65px;
	width: 65px;
	font-size: 45px;
	color: #353546;
	padding-top: 5px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}

.column {
	width: 50%;
	float: left;
	font-family: $font-family-1;
	color: $font-color-0;
	h3 {
		font-size: 25px;
	}
	
}

.input-base {
	text-align: center;
	height: 25px;
	width: 215px;
	background-color: #242439;
	border: none;
	border-radius: 6px;
	@include box-shadow(rgba(0, 0, 0, 0.75) -1px 2px 3px 0px inset);
}


input[type="submit"] {
	padding: 5px 16px;
	color: #363648;
	border: none;
	border-radius: 6px;
	font-size: 14px;
	vertical-align: middle;
	font-family: $font-family-1;
	background-color: $secondary-bgc;
}

input[type="email"] {
	@extend .input-base;
	margin-right: 15px;
	
}

input[type="text"] {
	@extend .input-base;
	margin-top: 10px;
	
}

.bigger input[type="text"] {
	height: 95px;
	margin-bottom: 15px;
}

.right input[type="submit"]{
	float: right;
	margin-right: 35px;
}

::-webkit-input-placeholder {
   color: #d7d7e3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d7d7e3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d7d7e3; 
}

:-ms-input-placeholder {  
   color: #d7d7e3;  
}

.social {
	margin-top: 20px;
}



.left p {
	width: 345px;
	margin-bottom: 20px;
}

.social>a>.icon-twitter-bird,
.icon-facebook,
.icon-linkedin {
	height: 40px;
	width: 40px;
	font-size: 25px;
	color: #6d6d84;
	background-color: #464659;
	border: none;
	border-radius: 50%;
	padding-left: 3px;
	display: inline-block;
}



.icon-facebook,
.icon-linkedin {
	padding-top: 5px;
	margin-left: 15px;
}

.copyright {
	font-size: 14px;
	text-align: center;
	display: block;
	width: 100%;
	position: relative;
	font-family: $font-family-1;
	color: $font-color-0;
}


















/*
font icons 
====================================
*/

@font-face {
  font-family: 'dublin-apps-1';
  src: url('../fonts/font-icons-1/font/dublin-apps-1.eot?50975977');
  src: url('../fonts/font-icons-1/font/dublin-apps-1.eot?50975977#iefix') format('embedded-opentype'),
       url('../fonts/font-icons-1/font/dublin-apps-1.woff?50975977') format('woff'),
       url('../fonts/font-icons-1/font/dublin-apps-1.ttf?50975977') format('truetype'),
       url('../fonts/font-icons-1/font/dublin-apps-1.svg?50975977#dublin-apps-1') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dublin-apps-1';
    src: url('../font/dublin-apps-1.svg?50975977#dublin-apps-1') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dublin-apps-1";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */


@font-face {
  font-family: 'dublin-apps-twitter';
  src: url('../fonts/font-icons-twitter/font/dublin-apps-twitter.eot?37172538');
  src: url('../fonts/font-icons-twitter/font/dublin-apps-twitter.eot?37172538#iefix') format('embedded-opentype'),
       url('../fonts/font-icons-twitter/font/dublin-apps-twitter.woff?37172538') format('woff'),
       url('../fonts/font-icons-twitter/font/dublin-apps-twitter.ttf?37172538') format('truetype'),
       url('../fonts/font-icons-twitter/font/dublin-apps-twitter.svg?37172538#dublin-apps-twitter') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dublin-apps-twitter';
    src: url('../font/dublin-apps-twitter.svg?37172538#dublin-apps-twitter') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dublin-apps-twitter";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter-bird:before { content: '\e800'; } /* '' */


@font-face {
  font-family: 'dublin-apps-social';
  src: url('../fonts/font-icons-social/font/dublin-apps-social.eot?81601085');
  src: url('../fonts/font-icons-social/font/dublin-apps-social.eot?81601085#iefix') format('embedded-opentype'),
       url('../fonts/font-icons-social/font/dublin-apps-social.woff?81601085') format('woff'),
       url('../fonts/font-icons-social/font/dublin-apps-social.ttf?81601085') format('truetype'),
       url('../fonts/font-icons-social/font/dublin-apps-social.svg?81601085#dublin-apps-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dublin-apps-social';
    src: url('../font/dublin-apps-social.svg?81601085#dublin-apps-social') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dublin-apps-social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-twitter-bird:before { content: '\e802'; } /* '' */